
h3.chapter
{
  font-size: 110%;
  border-left: 10px solid #6ABFE6;
  border-bottom: 1px solid #6ABFE6;
  padding-left: 5px;
  padding-bottom: 1px;
}

h4
{
  border-left: 10px solid #6ABFE6;
  font-size: 100%;
  padding-left: 5px;
}

pre
{
  font-family:monospace;
  font-size: 85%;
  line-height: 1.1em;
  border:1px solid;
  border-color:#CCCCCC;
  margin-left: 36px;
  margin-bottom: 12px;
  padding: 5px;
}

#header-inner
{
  padding-top:33px;
}

strong#pr
{
  font-size:10px;
  font-weight: normal;
  margin-top: 0;
  margin-left:5px;
  margin-bottom:0px;
  color:#666666;
  padding-left:8px;
  position: absolute;
  top: 10px;
}

img.header-bar
{
  margin-top: 0px;
}

.address
{
  font-size:10px;
  color:#666666;
  padding-right: 10px;
  text-align: right;
  padding-top: 15px;
}

ul.e-words
{
  margin-left: 16px;
}

.data-title
{
  font-weight: normal;
}

.data-body
{
  margin-left: 36px;
}

.link-detail
{
  text-align: right;
  padding-right: 10px;
}

.program
{
  font-family:monospace;
  font-size: 12px;
  line-height: 1.1em;
  border:1px solid;
  border-color:#CCCCCC;
  margin-left: 36px;
  margin-bottom: 12px;
  padding: 5px;
}

.hl000010 {
  color: #008000;
  background-color: inherit;
}

.hl000020 {
  color: #ff0000;
  background-color: inherit;
}

.hl000030 {
  color: #ff0000;
  background-color: inherit;
}

.hl000040 {
  color: #ff4000;
  background-color: inherit;
}

.hl000050 {
  color: #ff0000;
  background-color: inherit;
}

.hl000060 {
  color: #404000;
  background-color: inherit;
}

.hl008000 {
  color: #008000;
  background-color: inherit;
}

.hlff0000 {
  color: #ff0000;
  background-color: inherit;
}

.hl0000ff {
  color: #0000ff;
  background-color: inherit;
}

